version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "05:00"
      timezone: "Europe/Berlin"
    commit-message:
      prefix: "ci:"
  - package-ecosystem: "gomod"
    directories:
      - "**/*"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Europe/Berlin"
    commit-message:
      prefix: "go:"
    groups:
      golang-x:
        patterns:
          - "golang.org/x/*"
      k8s:
        patterns:
          - "k8s.io/*"
      docker:
        patterns:
          - "github.com/docker/*"
          - "github.com/moby/*"
      otel:
        patterns:
          - "go.opentelemetry.io/*"
      containers:
        patterns:
          - "github.com/containers/*"
